appnope==0.1.2
attrs==21.2.0
backcall==0.2.0
black==21.12b0
certifi==2021.10.8
cffi==1.14.5
charset-normalizer==2.0.7
cli-helpers==2.1.0
click==7.1.2
colorama==0.4.4
configobj==5.0.6
cryptography==3.4.6
decorator==4.4.2
defusedxml==0.7.1
docopt==0.6.2
elasticsearch==7.15.1
greenlet==0.4.17
httpie==2.6.0
hurry.filesize==0.9
idna==3.3
importlib-resources==5.1.1
iniconfig==1.1.1
ipython==7.24.1
ipython-genutils==0.2.0
jedi==0.17.2
matplotlib-inline==0.1.2
msgpack==1.0.2
mycli==1.24.1
mypy-extensions==0.4.3
packaging==21.2
parso==0.7.1
pathspec==0.9.0
pexpect==4.8.0
pickleshare==0.7.5
platformdirs==2.4.0
pluggy==1.0.0
prompt-toolkit==3.0.10
ptyprocess==0.7.0
-e git+ssh://git@github.com/hrfmmr/pwgen.git@6bc968c7b3eda61b2535e859bba6079b0a179f14#egg=pwgen
py==1.10.0
pyaes==1.6.1
pycodestyle==2.6.0
pycparser==2.20
pyflakes==2.4.0
Pygments==2.7.4
PyMySQL==1.0.2
pynvim==0.4.2
pyparsing==2.4.7
pyperclip==1.8.1
PySocks==1.7.1
pytest==6.2.5
pytest-watch==4.2.0
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
PyYAML==6.0
requests==2.26.0
requests-toolbelt==0.9.1
six==1.15.0
sqlparse==0.3.1
tabulate==0.8.9
terminaltables==3.1.0
toml==0.10.2
tomli==1.2.3
traitlets==5.0.5
typing-extensions==4.0.1
ujson==4.2.0
urllib3==1.26.7
watchdog==2.1.6
wcwidth==0.2.5
